.site-layout-background {
    background: transparent;
}

.main-card-about {
    font-size: 16px;
    color: #061178;
    line-height: 21px;
    margin: 23px 0 22px 24px;
}

.main-card-about .ant-card-body {
    padding: 24px 23px 9px 23px;
}

.main-card-tagline {
    margin: 0 0 1px 24px;
}

.main-card-tagline .ant-card-body{
    padding: 24px 23px 12px 23px;
}




.main-card-tagline h4 {
    font-family: 'InterMedium', sans-serif;
    font-size: 20px;
    line-height: 26px;
    color: #262626;
    padding: 0;
}



