.wrapper-layout-state {
    max-width: 1440px;
    min-height: 1024px;
    margin: auto;
    background: no-repeat center/cover url('/img/png/Enter page_light.png');
    font-family: 'Inter', sans-serif;
}

.wrapper-content-state {
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
    background: rgba(121, 156, 212, 0.5);
    min-height: 742px;
}

.wrapper-card-state {
    min-width: 539px;
    min-height: 363px;
    margin-bottom: 2px;
    margin-left: 1px;
}

.wrapper-card-state .ant-card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-success {
    margin: 44px 0 26px 0;
    color: #52C41A;
    svg {
        height: 70px;
        width: 70px;
    }
}

.title-state {
    font-size: 24px;
    font-family: 'InterMedium', sans-serif;
    margin: 0;
}

.message-state {
    text-align: center;
    display: block;
    margin-top: -4px;
    line-height: 18px;
}

.button-state {
    width: 368px;
    margin-top: 25px;
    font-size: 14px;
    background: #2F54EB;
}
