.search_container {
    gap: 12px;
}

.search_container .search {
    height: 48px;
    width: 458px;
    padding: 0;
    border-radius: 6px;
    border: var(--border);
}

.search_container .search::placeholder {
    font: var(--font-inter-search);
    color: var(--color-lime-800);
    padding-left: 16px;
    letter-spacing: 0.2px;
}

.search_wrapper .search_icon {
    top: 5px;
    right: 5px;
}

button.filter {
    min-width: auto;
    height: 48px;
    width: 48px;
    background-color: unset;
    border-radius: 6px;
    border: var(--border);
}

@media (max-width: 950px) {
    .search_container button.filter {
        height: 32px;
        width: 35px;
        padding-inline: 8px;
    }

    .filter .filter_icon {
        width: 14px;
        height: 14px;
    }

    .search_container .search {
        height: 32px;
        width: 402px;
    }

    .search_wrapper .search_icon {
        top: -3px;
        right: -5px;
    }

    .search_container .search::placeholder {
        font-size: 14px;
        padding-left: 12px;
        letter-spacing: 0;
    }
}

@media (max-width: 550px) {
    .search_container .search {
        height: 32px;
        width: 282px;
    }
}
