.search_container {
    gap: 12px;
    margin-bottom: 16px;
}

.search_container .search {
    height: 48px;
    width: 458px;
    padding: 0;
    padding-left: 16px;
    border-radius: 6px;
    border: var(--border);
    box-shadow: none;
}

.search_container .search.not_found {
    border-color: var(--red-500);
}

.search_container .search::placeholder {
    font: var(--font-inter-search);
    color: var(--color-lime-800);
    letter-spacing: 0.2px;
}

.search_wrapper .search_icon {
    top: 6px;
    right: 2px;
}

button.filter {
    min-width: auto;
    height: 48px;
    width: 48px;
    background-color: unset;
    border-radius: 6px;
    border: var(--border);
}

@media (max-width: 950px) {
    .search_container button.filter {
        height: 32px;
        width: 32px;
        padding-inline: 8px;
    }

    .filter .filter_icon {
        width: 14px;
        height: 14px;
    }

    .search_container .search {
        height: 32px;
        width: 404px;
        padding-left: 12px;
    }

    .search_wrapper .search_icon {
        top: -2px;
        right: -6px;
    }

    .search_container .search::placeholder {
        font-size: 14px;
        letter-spacing: 0;
    }
}

@media (max-width: 550px) {
    .search_container .search {
        height: 32px;
        width: 284px;
    }
}
