div.card {
    background-color: var(--lime-color-300);
    max-width: 668px;
    width: 100%;
    margin-inline: auto;
    margin-bottom: 56px;
}

.card .name {
    font: var(--font-inter-header-mobile);
    letter-spacing: 0.4px;
}

.card .text {
    font: var(--font-inter-email);
}

.card .email {
    font: var(--font-inter-email);
    color: var(--black-alpha);
}

.card .button {
    font: var(--font-inter-small);
}

.stats {
    font: var(--font-inter-small);
    color: var(--lime-color-600);
}
