.title {
    font: var(--font-inter-button-third);
    letter-spacing: 0.1px;
}

.button {
    font: var(--font-inter-button);
}

.button.border_color {
    border-color: var(--black-alpha-600);
}

@media (max-width: 1150px) {
    p.title {
        font: var(--font-inter-button-second);
    }
}
