.header {
    grid-area: header;
    background-color: var(--lime-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_container {
    display: flex;
    align-items: center;
    margin-left: 16px;
    column-gap: 88px;
}
