div.card {
    width: 322px;
    box-shadow: none;
    transition: box-shadow 0.3s ease;
}

.card_image {
    border-radius: 8px 8px 0 0;
}

.card .card_body {
    padding: 0;
}

.content {
    border: var(--border-card);
    border-top: none;
    padding: 16px 24px 19px;
}

.content .title_card {
    font: var(--font-inter-title-card);
    color: var(--black-color);
    letter-spacing: 0.2px;
    display: inline-block;
    width: 22ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.description_card {
    font: var(--font-inter-email);
    color: var(--black-color);
    margin-bottom: 20px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    line-clamp: 3;
}

@media (hover: hover) and (pointer: fine) {
    .card:hover {
        box-shadow: var(--shadow-hover-cart);
        transition: box-shadow 0.3s ease;
    }
}

@media (max-width: 1890px) {
    .card {
        width: 279px;
    }

    .content {
        padding: 12px 11px 11px;
    }

    .content .title_card {
        font: var(--font-inter-500);
    }

    .card_image {
        height: 230px;
    }
}
