.auth-layout.ant-layout{
    max-width: 1440px;
    min-height: 1024px;
    margin: auto;
    background: no-repeat center/cover url('/img/png/Enter page_light.png');
    font-family: 'Inter', sans-serif;
}

.ant-layout-content.container-auth {
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
    background: rgba(121, 156, 212, 0.5);
}

.auth-card.ant-card  {
    min-width: 539px;
    min-height: 686px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2px;
    margin-left: 1px;
}


.ant-card-head-title {
    margin: 48px 0 42px 0;
}

.ant-card-head-tabs {
    width: 368px;
}

.auth-card .ant-card-head-wrapper .ant-card-head-title{
    text-align: center;
}

.auth-card .ant-card-head {
    padding: 0;
}

.auth-card .ant-card-body {
    padding: 25.5px 0;
}


.auth-card .ant-card-head .ant-tabs-nav .ant-tabs-nav-list {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.auth-card .ant-card-head .ant-tabs-large .ant-tabs-tab {
    padding-bottom: 10px;
    font-family: 'Inter', sans-serif;
    color: #262626;
    margin: 0;
    justify-content: center;
    flex: 1;
}

.auth-card .ant-card-head .ant-tabs-large .ant-tabs-tab-active {
    color: #2F54EB;
}

.ant-input-wrapper.ant-input-group {
    width: 368px;
}

.ant-tabs-ink-bar.ant-tabs-ink-bar-animated {
    width: 50% !important;
}

.auth-layout .ant-input-group-addon {
    padding: 0 12px;
    color: #262626;
}

.auth-input {
    min-height: 40px;
}

.auth-input .ant-input-lg {
    min-height: 40px;
}

.auth-input .ant-input-wrapper{
    min-height: 40px;
}

.auth-input-email {
    margin-bottom: 24px;
}

.extra-container {
    width: 100%;
    justify-content: space-between;
    margin: 45px 0 15px 0;
}

.extra-container .ant-checkbox-wrapper {
    color: #262626;
}

.auth-enter.ant-btn-default {
    margin-top: 9px;
    margin-bottom: 148px;
}

.auth-enter.ant-btn-primary {
    background: #2F54EB;
}

.auth-enter.ant-btn-default span {
    color: #262626;
}


.forgot-link {
    font-size: 16px;
}

.auth-layout .auth-enter {
    width: 100%;
    min-height: 40px;
    font-size: 16px;
}

.container-auth-buttons {
    width: 100%;
}

.container-input-reg {
    margin-top: -4px;
}
