.aside {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    width: 241px;
    right: 0;
    height: calc(100vh - 80px);
}

.aside_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    height: 180px;
    width: 180px;
    gap: 12px;
    font: var(--font-inter-version);
    color: var(--black-alpha);
    background: radial-gradient(30% 30% at 50% 43%, #c4ff61 0%, rgba(255, 255, 255, 0) 100%);
}

@media (max-width: 1439px) {
    .aside {
        display: none;
    }
}
