h2.title {
    font: var(--font-inter-subtitle-second);
}

.number {
    font: var(--font-inter-title-digetal);
}

.title.my_notes {
    font: var(--font-inter-title-stat);
}

.number.my_notes {
    font: var(--font-inter-title-table-author);
}

.button {
    font: var(--font-inter-button-second);
    color: var(--black-color);
}

@media (max-width: 950px) {
    h2.title {
        font: var(--font-inter-title-table-author);
    }

    .button {
        font: var(--font-inter-small);
    }

    .number {
        font: var(--font-inter-title-table-author);
    }

    .title.my_notes {
        font: var(--font-inter-title-stat-mobule);
    }

    .number.my_notes {
        font: var(--font-inter-search);
    }
}
