.wrapper-profile-form {
    background-color: white;
    margin: 24px;
    min-height: 886px;
}

.profile-form {
    margin: 24px;
}

.wrapper-profile-form .personal-profile {
    display: flex;
    margin-bottom: 24px;
}

.wrapper-profile-form .personal-profile .ant-form-item {
    margin-bottom: 16px;
}

.wrapper-profile-form .title {
    color: var(--first-color);
    font-family: var(--medium-title-font);
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 24px;
}

.wrapper-profile-form .upload-text {
    font-family: var(--main-text-font);
    color: var(--second-color);
    width: 70px;
    line-height: 18px;
    margin-top: 8px;
}

.wrapper-profile-form .anticon-plus {
    margin-bottom: 9px;
}

.wrapper-profile-form .anticon-calendar svg path {
    fill: var(--disabled-second-color);
}

.wrapper-profile-form .wrapper-upload {
    margin-bottom: 5px;
}

.wrapper-profile-form .wrapper-personal-input {
    min-width: 352px;
    margin-left: 16px;
}

.wrapper-profile-form .wrapper-personal-input .ant-input {
    font-size: 14px;
    padding: 8px 11px;
}


.wrapper-personal-input .ant-picker {
    width: 100%;
    padding: 8px 11px;
    font-size: 14px;
}

.wrapper-personal-input .ant-picker {
    font-size: 12px;
}

.wrapper-personal-input .ant-picker .ant-picker-input input{
    font-size: 14px;
}

.wrapper-profile-form  .private-profile {
    max-width: 480px;
    margin-bottom: 54px;
}

.private-profile .ant-input-wrapper.ant-input-group {
    width: 100%;
}

.private-profile .profile-email {
    margin-bottom: 8px;
}

.private-profile .profile-email .ant-input-group-addon {
    padding: 0 12px;
}

.private-profile .ant-form-item:has(.profile-password) {
    margin-bottom: 46px;
}

.private-profile .ant-form-item .profile-email .ant-input {
    padding: 8px 11px;
}

.private-profile .ant-input-suffix {
    font-size: 14px;
}
.private-profile .ant-form-item input{
    font-size: 14px;
}

.private-profile .ant-form-item-explain {
    font-size: 12px;
    line-height: 19px;
}

.wrapper-profile-form .ant-alert-success {
    max-width: 395px;
    margin: 221px 0 0 369px;
    padding: 7px 16px;
}

.wrapper-profile-form .ant-alert-success .anticon-check-circle {
    margin-right: 14px
}

@media (max-width: 1300px) {
    .wrapper-profile-form .ant-alert-success {
        margin: 367px auto 0;
    }

    .wrapper-profile-form {
        min-height: 1032px;
    }
}

@media (max-width: 1000px) {
    .wrapper-profile-form .anticon-plus {
        margin-bottom: 0;
    }

    .wrapper-profile-form .upload-text {
        margin-top: 4px;
    }
}

@media (max-width: 600px) {
    .wrapper-profile-form {
        margin: 24px 0;
    }

    .wrapper-profile-form .wrapper-personal-input {
        max-width: 100%;
        min-width: auto;
    }
}

