div.container_user_stats {
    flex-direction: column;
    align-items: center;
    margin: 25px 0 0 59px;
}

.container_user_stats > *:not(:last-child) {
    margin-bottom: 40px;
}

.user_stat {
    align-items: center;
    font: var(--font-inter-nav);
    color: var(--lime-color-600);
    font-weight: 600;
    column-gap: 9px;
}
