:root {
    --lime-color: #ffffd3;
    --black-color: #000;
    --black-alpha: rgba(0, 0, 0, 0.64);
    --black-alpha-400: rgba(0, 0, 0, 0.24);
    --font-inter-500: normal 500 18px/156% 'Inter', sans-serif;
    --font-inter-nav: normal 500 16px/150% 'Inter', sans-serif;
    --font-inter-version: normal 500 12px/133% 'Inter', sans-serif;
}
