:root {
    --lime-color: #ffffd3;
    --lime-color-150: #d7ff94;
    --lime-color-300: #c4ff61;
    --lime-color-400: #b1ff2e;
    --lime-color-600: #2db100;
    --color-lime-800: #134b00;
    --black-color: #000;
    --black-alpha: rgba(0, 0, 0, 0.64);
    --black-alpha-50: rgba(0, 0, 0, 0.04);
    --black-alpha-300: rgba(0, 0, 0, 0.16);
    --black-alpha-400: rgba(0, 0, 0, 0.24);
    --black-alpha-600: rgba(0, 0, 0, 0.48);
    --black-alpha-800: rgba(0, 0, 0, 0.8);
    --white-color: #fff;
    --border: 1px solid rgba(0, 0, 0, 0.48);
    --border-card: 1px solid #ebebeb;
    --border-button-cook: 1px solid #2db100;
    --shadow-hover-cart: 0 2px 4px -1px rgba(32, 126, 0, 0.06), 0 4px 6px -1px rgba(32, 126, 0, 0.1);
    --font-inter-500: normal 500 18px/156% 'Inter', sans-serif;
    --font-inter-nav: normal 500 16px/150% 'Inter', sans-serif;
    --font-inter-version: normal 500 12px/133% 'Inter', sans-serif;
    --font-inter-title: normal 700 48px/100% 'Inter', sans-serif;
    --font-inter-subtitle: normal 500 48px/100% 'Inter', sans-serif;
    --font-inter-subtitle-second: normal 400 36px/111% 'Inter', sans-serif;
    --font-inter-search: normal 400 18px/100% 'Inter', sans-serif;
    --font-inter-bread: normal 400 16px/150% 'Inter', sans-serif;
    --font-inter-button-third: normal 600 16px/150% 'Inter', sans-serif;
    --font-inter-email: normal 400 14px/143% 'Inter', sans-serif;
    --font-inter-tab-mobile: normal 500 14px/143% 'Inter', sans-serif;
    --font-inter-title-card: normal 500 20px/140% 'Inter', sans-serif;
    --font-inter-small: normal 600 12px/133% 'Inter', sans-serif;
    --font-inter-button: normal 600 18px/156% 'Inter', sans-serif;
    --font-inter-button-second: normal 600 14px/143% 'Inter', sans-serif;
    --font-inter-subtitle-table: normal 500 30px/120% 'Inter', sans-serif;
    --font-inter-last-block-table: normal 500 36px/111% 'Inter', sans-serif;
    --font-inter-header-mobile: normal 700 24px/133% 'Inter', sans-serif;
    --font-inter-subtitle-mobile: normal 500 24px/133% 'Inter', sans-serif;
}
