.allergen_container {
    align-items: center;
    margin-top: 16px;
    margin-bottom: 32px;
    gap: 16px;
    max-width: 518px;
    width: 100%;
}

.allergen_label {
    display: flex;
    align-items: center;
}

.allergen_label .allergen_switch {
    font: var(--font-inter-nav);
    letter-spacing: 0.1px;
    margin: 0 11px 0 0;
    white-space: nowrap;
    padding-left: 8px;
}

.allergen_container .select {
    font: var(--font-inter-bread);
    color: var(--black-alpha);
}

@media (max-width: 1150px) {
    div.allergen_container {
        display: none;
    }
}
