@font-face {
    font-family: 'InterBold';
    src: url('../../../public/font/Inter-Bold.ttf') format('truetype');
}


.logo {
    margin: 44px 0 0 29px;
}

.list-menu {
    margin: 63px 0;
}

.list-menu .ant-menu-item:not(:last-child) {
    margin-bottom: 18px;
}

.sider .list-menu .ant-menu-item:hover{
    color: #262626;;
}


.list-menu .ant-menu-item {
    padding: 0 17px;
}

.ant-menu-item .svg-menu {
    /*font-size: 14px;*/
    padding-right: 1px;
    svg {
        path {
            fill: #061178;
        }
    }
}

.ant-menu-item .svg-menu-special {
    padding-right: 2px;
    svg {
        path {
            fill: #061178;
        }
    }
}

