.ant-modal-mask {
    backdrop-filter: blur(5px);
    background: rgba(121, 156, 212, 0.5);
}

.error-modal {
    max-width: 539px;
    width: 100%;
    top: 237px;
}

.error-modal .ant-modal-close-x {
    display: none;
}

.error-modal .ant-result-500 {
    padding: 40px 39px 32px 35px
}

.error-modal .ant-result-title {
    color: var(--first-color);
    font-size: 24px;
    font-family: var(--medium-title-font);
    line-height: 26px;
}

.error-modal .ant-result-icon {
    margin-bottom: 25px;
}

.error-modal .ant-result-subtitle {
    font-family: var(--main-text-font);
}

.error-modal .ant-result-extra {
    margin-top: 22px;
    margin-left: 4px;
}

@media(max-width: 500px) {
    .error-modal {
        max-width: 568px;
        top: 0;
        padding: 36px 16px 35px;
    }

    .error-modal .ant-result-500 {
        padding: 39px 4px 32px 0;
    }

    .error-modal .ant-result-subtitle {
        font-family: var(--main-text-font);
        margin: 3px 30px 0;
        line-height: 18px;
    }

    .error-modal .ant-result-icon {
        margin-bottom: 26px;
    }
}
