.ant-card-head {
    min-height: 45px;
}

.small-card-header .ant-card-head-title {
    color: #262626;
}

.small-card-header .ant-card-body {
    color: #2F54EB;
}

.small-cards {
    display: flex;
    gap: 16px;
    margin: 17px 0 0 24px;
}

.small-cards p {
    cursor: pointer;
}

.small-cards .ant-card-head-title {
    text-align: center;
    min-height: 45px;
    padding: 9px 0 11px;
}

.small-cards .ant-card-body {
    text-align: center;
    padding: 16px 0 2px;
}

.small-cards .anticon {
    margin-right: 5px;
}

.small-cards .anticon svg {
    height: 12px;
}

.small-cards .anticon svg path {
    fill: #2F54EB;
    transition: fill 0.5s ease;
}

.small-cards .ant-card-body:hover .anticon svg path {
    fill: #85A5FF;
}
