.avatar_container {
    display: flex;
    margin-right: 68px;
}

.avatar_info {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
}

.avatar_name {
    font: var(--font-inter-500);
}

.avatar_email {
    font: var(--font-inter-400);
    color: var(--black-alpha);
}
