h2.subtitle {
    font: var(--font-inter-subtitle);
    color: var(--black-color);
    padding-block: 24px;
    letter-spacing: 2.1px;
}

.subtitle_container {
    justify-content: space-between;
    align-items: center;
}

.juicy {
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 24px;
}
