h2.subtitle {
    font: var(--font-inter-subtitle);
    margin-bottom: 24px;
    letter-spacing: 2.1px;
}

@media (max-width: 1890px) {
    h2.subtitle {
        font-size: 36px;
        line-height: 111%;
        letter-spacing: 1.1px;
    }
}

@media (max-width: 950px) {
    h2.subtitle {
        font: var(--font-inter-subtitle-mobile);
        margin-bottom: 12px;
        letter-spacing: 0.5px;
    }
}
