.container {
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.container_tabs {
    width: 100%;
    max-width: 1360px;
}

div.tab_list {
    margin: auto;
    overflow-x: auto;
}

.tab_list::-webkit-scrollbar {
    display: none;
}

.tab {
    font: var(--font-inter-nav);
    color: var(--color-lime-800);
    letter-spacing: 0.07px;
    white-space: nowrap;
}

button.button {
    background-color: var(--lime-color-400);
    font: var(--font-inter-button-third);
    color: var(--black-color);
    padding: 18px;
}

.container_cards {
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 16px;
}

@media (max-width: 1880px) {
    .container_cards {
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 950px) {
    .container {
        margin-bottom: 32px;
    }

    .tab_list .tab {
        font: var(--font-inter-tab-mobile);
        padding-block: 4px;
    }

    .tab_panel .container_cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 16px;
    }
}

@media (max-width: 767px) {
    .tab_panel .container_cards {
        display: flex;
        flex-direction: column;
        justify-items: center;
        gap: 16px;
    }
}
