.container {
    align-items: center;
    flex-direction: column;
    border: var(--second-border);
    padding: 15px;
    border-radius: 16px;
    gap: 12px;
    max-width: 149px;
    width: 100%;
}

p.note {
    font: var(--font-inter-email);
    color: var(--black-alpha-800);
    max-width: 668px;
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
}

.container .type {
    font: var(--font-inter-email);
    color: var(--black-alpha-600);
}

.container .count {
    font: var(--font-inter-last-block-table);
    color: var(--color-lime-800);
}

.container .unit {
    font: var(--font-inter-button-second);
    color: var(--black-alpha-900);
}
