.label {
    align-items: center;
    background-color: var(--lime-color-150);
    padding: 2px 8px;
    border-radius: 4px;
    gap: 8px;
    width: fit-content;
}

.label.yellow {
    background-color: var(--lime-color);
}

.image {
    height: 16px;
}

.text {
    font: var(--font-inter-email);
    color: var(--black-color);
    white-space: nowrap;
}

@media (max-width: 950px) {
    .label.mobile {
        padding: 2px 4px;
        gap: 2px;
    }
}
