.navigation {
    margin-top: 34px;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-gutter: stable;
    border-radius: 12px;
    box-shadow:
        0 2px 4px -1px rgba(0, 0, 0, 0.06),
        0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.navigation .accordion_item {
    border: none;
}

.navigation .accordion_button {
    padding: 10px 2px 10px 19px;
}

.item_menu {
    display: flex;
    align-items: center;
}

.title_nav {
    font: var(--font-inter-nav);
    color: var(--black-color);
}

.icon {
    padding-right: 11px;
}

.item_link {
    display: block;
    padding: 6px 0 6px 55px;
    font: var(--font-inter-nav);
    color: var(--black-color);
    text-decoration: none;
}

.item_link:before {
    content: '';
    padding-right: 6px;
    border-left: 1px solid green;
}

.navigation .accordion_panel {
    padding-bottom: 0;
}

.accordion_panel .list > li {
    margin: 0;
}

.list_items .item_button {
    margin: 0;
}

@media (hover: hover) and (pointer: fine) {
    .accordion_item:hover {
        background-color: var(--lime-color);
        transition: background-color 0.3s ease;
    }
}
