.ant-layout-header {
    display: flex;
    justify-content: space-between;
    min-height: 168px;
    background: #F0F5FF;
}

h1.title-header {
    max-width: 920px;
    font-family: 'InterBold', sans-serif;
    font-weight: 700;
    line-height: 49px;
}

.block-welcome {
    margin-left: 24px;
}

div.type-page {
    margin: 25px 0 23px;
    line-height: 0;
}

div.header-seating {
    margin: 0 39px 52px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    cursor: pointer;
}
