.ant-layout-header {
    display: flex;
    justify-content: space-between;
    min-height: 168px;
    background: #F0F5FF;
    height: auto;
}

h1.title-header {
    max-width: 920px;
    font-family: 'InterBold', sans-serif;
    font-weight: 700;
    line-height: 49px;
}

.block-welcome {
    margin-left: 24px;
}

div.type-page {
    margin: 25px 0 23px;
    line-height: 0;
}

div.header-seating {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    column-gap: 10px;
    margin: 0 39px 52px;
    white-space: nowrap;
    cursor: pointer;
}

.container-setting {
    display: none;
}

.container-setting.show {
    display: flex;
    justify-content: center;
    height: 32px;
    width: 32px;
    border: solid #eadfdf 1px;
    border-radius: 50%;
    background: #fff;
}

.container-setting.show:hover {
    color: #88b8c7;
    border: solid #88b8c7 1px;
}

@media screen and (max-width: 1000px) {
    .ant-layout-header {
        min-height: 132px;
    }

    h1.title-header {
        font-family: 'InterMedium', sans-serif;
        font-weight: 500;
        line-height: 31px;
        font-size: 24px;
    }

    .block-welcome {
        margin-bottom: 22px;
    }

    div.header-seating {
        margin: 43px 39px 59px 0;
        max-height: 30px;
    }
}

@media screen and (max-width: 815px) {
    h1.title-header {
        line-height: 26px;
        font-size: 20px;
    }

    div.type-page {
        margin: 25px 0 15px;
    }

    div.header-seating {
        margin: 35px 24px 59px 0;
        max-height: 30px;
    }
}
