.main-container {
    grid-template-areas:
        'header header header'
        'nav main aside';
    grid-template-rows: 80px 1fr;
    grid-template-columns: 256px 1fr 256px;
    height: 100vh;
}

.navigation {
    grid-area: nav;
    background-color: #f687b3;
}

.main {
    grid-area: main;
    background-color: #68d391;
}

.aside {
    grid-area: aside;
    background-color: #f687b3;
}

.footer {
    grid-area: footer;

    display: none;
}
