.stats_container {
    margin-right: 4px;
}

.stats_container.mobile {
    display: none;
}

.number {
    font: var(--font-inter-small);
    color: var(--lime-color-600);
}

.about_recipe .number {
    font: var(--font-inter-button-second);
}

.stats {
    align-items: center;
}

@media (max-width: 1890px) {
    .about_recipe .number {
        font: var(--font-inter-small);
    }

    .about_recipe.stats_container {
        gap: 16px;
    }
}

@media (max-width: 950px) {
    .stats_container.mobile {
        display: flex;
        padding-left: 4px;
    }
}
