.site-layout-background {
    background: transparent;
}

.main-card-about {
    width: 752px;
    margin: 24px 0 22px 24px;
    font-size: 16px;
    line-height: 21px;
    color: #061178;

    @media screen and (max-width: 1000px) {
        width: auto;
        max-width: 772px;
        margin: 24px 24px 22px 24px;
    }
}

.main-card-about .ant-card-body {
    padding: 23px 50px 9px 23px;
    @media screen and (max-width: 1000px) {
        padding: 23px 35px 9px 23px;
    }
}

.main-card-tagline .transfer,
.main-card-about .transfer {
    margin-right: 35px;
    @media screen and (max-width: 1000px) {
        margin-right: 0;
    }
}

.main-card-about .transfer-table {
    margin-right: 0;
    @media screen and (max-width: 1000px) {
        margin-right: 30px;
    }
}

.main-card-tagline {
    width: 752px;
    margin: 0 24px 1px 24px;

    @media screen and (max-width: 1000px) {
        width: auto;
        max-width: 772px;
    }
}

.main-card-tagline .ant-card-body{
    padding: 23px 31px 12px 25px;
}

.main-card-tagline h4 {
    font-family: 'InterMedium', sans-serif;
    font-size: 20px;
    line-height: 26px;
    color: #262626;
    padding: 0;
}

.bord-contact-card {;
    width: 240px;
    height: 1px;
    border-top:  solid 1px #F0F0F0;
}

.contact-card-header {
    position: absolute;
    bottom: 42px;
    right: 24px;
}

.contact-card-header .ant-card-body {
    padding: 0;
}

.contact-card-header .contact-card-header-first-title {
    padding: 13px 24px 0;
    font-size: 16px;
    color: #2F54EB;
    line-height: 21px;
    margin: 0;
}

.contact-card-header .contact-card-header-second-title {
    padding: 8px 24px 0;
    color: #8C8C8C;
    line-height: 18px;
    margin-bottom: 12px;
}

.contact-card-header .icon-contact-card {
    margin: 13px 0;
    color: #262626;
    svg {
        height: 12.5px;
    }
}

.contact-card-header .anticon {
    margin-right: 8px;
    margin-left: -4px;
}

.contact-card-header .anticon-apple {
    margin-left: 29px;
}

.container-icon-contact-card{
    display: flex;
    justify-content: center;
    padding: 3px 0;
}

.contact-card-header .icon-contact-card:hover {
    cursor: pointer;
    background: #f5f4f1;
}

