@font-face {
    font-family: 'InterBold';
    src: url('../../../public/font/Inter-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Inter';
    src: url('../../../public/font/Inter-Regular.ttf') format('truetype');
}

.ant-layout {
    margin: auto;
    max-width: 1440px;
    font-family: 'Inter', sans-serif;
}

.ant-typography + h1.ant-typography {
    margin: 0;
}

.ant-typography, h1.ant-typography {
    color: #262626;
}

