.footer-configuration {
    min-height: 80px;
    background: transparent;
    padding: 24px 40px;
}

.footer-review {
    color: #2F54EB;
    font-size: 16px;
    padding: 0 0 9px;
    width: 150px;
    transition: transform 0.5s ease, color 0.3s ease;
    cursor: pointer;
}

.footer-review:hover {
    color: #85A5FF;
    transform: translateY(5px);
}

@media screen and (max-width: 815px) {
    .footer-review {
        text-align: center;
        padding: 0 0 10px;
        width: auto;
    }
}
