a.button.extra {
    font: var(--font-inter-email);
    letter-spacing: 0.3px;
}

@media (max-width: 950px) {
    a.button.extra {
        font: var(--font-inter-small);
        margin-left: 12px;
        letter-spacing: 0;
    }
}
