div .tab_list {
    font: var(--font-inter-500);
    padding-block: 11px;
    padding-inline: 25px;
}

div .tabs {
    position: static;
}

@media screen and (max-width: 1150px) {
    div .tab_list {
        font: var(--font-inter-nav);
        padding-block: 13px;
    }
}
