.container {
    flex-direction: column;
    width: 100%;
}

.container .subtitle_container {
    padding-block: 24px;
    justify-content: space-between;
}

.container .subtitle {
    font: var(--font-inter-subtitle);
    color: var(--black-color);
    letter-spacing: 1.6px;
}

.description {
    font: var(--font-inter-nav);
    color: var(--black-alpha);
    width: 668px;
    letter-spacing: 0.1px;
}

.cards_container {
    gap: 24px;
}

.container .simple_cards_container {
    gap: 24px;
}

.container .long_cards_container {
    flex-direction: column;
    width: 100%;
    gap: 12px;
}
