.container .title {
    font: var(--font-inter-title);
    margin-block: 32px 24px;
    max-width: 450px;
    letter-spacing: 1.2px;
}

.container .image {
    width: 553px;
    height: 410px;
}

.description {
    font: var(--font-inter-email);
    max-width: 530px;
}

.clock_text {
    font: var(--font-inter-email);
    color: var(--black-color);
}

.time_label {
    background-color: var(--black-alpha-100);
    border-radius: 4px;
}

.group_button > :last-child {
    background-color: var(--lime-color-400);
}

button.button {
    font: var(--font-inter-button);
    color: var(--black-color);
    letter-spacing: 0.15px;
}

button.button.extra_styles {
    background-color: white;
    letter-spacing: 0.2px;
    color: var(--black-alpha-800);
    border-color: var(--black-alpha-600);
}

@media (max-width: 1890px) {
    .container .image {
        width: 353px;
        height: 410px;
    }

    .container .title {
        font: var(--font-inter-title);
        margin-block: 32px 24px;
        max-width: 450px;
        letter-spacing: 1.2px;
    }
}

@media (max-width: 1600px) {
    button.button {
        font: var(--font-inter-button-second);
        letter-spacing: 0;
        padding-inline: 12px;
    }
}

@media (max-width: 950px) {
    .container .image {
        width: 232px;
        height: 224px;
    }

    .container .title {
        font: var(--font-inter-header-mobile);
        margin-block: 32px 16px;
        letter-spacing: 0.25px;
        max-width: unset;
    }

    button.button {
        font: var(--font-inter-small);
        padding-inline: 7px;
    }
}

@media (max-width: 760px) {
    .container {
        flex-direction: column;
    }

    .container .image {
        max-width: 328px;
        width: 100%;
        height: 224px;
        align-self: center;
    }

    .description {
        margin-bottom: 24px;
    }
}
