.wrapper-create-comment .ant-modal-mask  {
    backdrop-filter: blur(5px);
    background: rgba(121, 156, 212, 0);
}

.modal-create-comment {
    max-width: 539px;
    font-family: 'InterMedium' , sans-serif;
}

.modal-create-comment .ant-modal-header {
    padding: 16px 24px 14px;
}

.modal-create-comment.ant-modal {
    margin-top: 56px;
}




.modal-create-comment .ant-modal-content {
    min-height: 247px;
    margin: 0;
}

.modal-create-comment .ant-modal-title {
    color: #262626;
    font-family: 'InterMedium', sans-serif;
}

.modal-create-comment .ant-modal-close-x {
    color: black;
    font-size: 14px;
    width: 62px;
    height: 55px;
}

.modal-create-comment .area-comment {
    color: #262626;
    margin-top: 15px;
    font-size: 14px;
    line-height: 18px;
    font-family: 'Inter', sans-serif;
}

.modal-create-comment .ant-rate-star {
    color: #FAAD14;
}

.modal-create-comment .ant-rate-star .empty {
    color: #FAAD14;
    font-size: 23px;
}

.ant-form-item {
    margin-bottom: 22px;
}

.modal-create-comment .ant-btn-primary {
    font-size: 14px;
    background-color: #2F54EB;
    min-width: 130px;
    margin-right: 8px;
}

.modal-create-comment .ant-btn-primary:disabled {
    background-color: #F5F5F5;
    color: #BFBFBF;
    border: none;
}

.modal-create-comment .ant-modal-body {
    padding: 19px 24px 0;
}

.ant-rate-star.ant-rate-star-full .anticon,
.ant-rate-star.ant-rate-star-zero .anticon {
    color: #ffc107 !important;
}

.ant-rate-star.ant-rate-star-full:hover .anticon,
.ant-rate-star.ant-rate-star-zero:hover .anticon {
    color: #ffc107 !important;
}

@media(max-width: 500px) {

    .modal-create-comment .ant-modal-content {
        margin: 0 16px;
    }

    .modal-create-comment .ant-modal-header {
        padding: 16px 0 14px 16px;
    }
    .modal-create-comment .ant-modal-close-x {
        width: 48px;
    }

    .modal-create-comment .ant-modal-body {
        padding: 19px 16px 0;
    }
    .modal-create-comment .ant-modal-footer .ant-btn-primary.ant-btn-lg {
        width: 100%;
        margin: 0;
    }
}
