button.button {
    font: var(--font-inter-button-second);
}

div .card_footer {
    position: relative;
    justify-content: flex-end;
    padding: 10px 0 9px;
}

@media (max-width: 950px) {
    div .card_footer {
        padding: 0;
    }

    button.button {
        font: var(--font-inter-small);
    }
}
